.app-header {
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding: 5px;
}

.app-header__logo-wrapper {
  width: 30px;
  height: 30px;
}

.app-header__logo {
  width: 100%;
  height: 100%;
}

.app-header__heading {
  margin: 0 2rem;
  font-size: 14px;
}
